@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.todo-dark input[type='text'],
.todo-light input[type='text'] {
    border: none;
    background-color: transparent;
    font: bold 12pt 'Roboto', sans-serif;
    width: 30%;
    outline: none;
    transition: all ease 0.5s;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
    text-overflow: ellipsis;
    cursor: pointer;
}

.todo-dark input[type='text'] {
    color: #b1b1b1;
}

.todo-light input[type='text'] {
    color: #1f1f1f; 
}

.todo-dark input[type='text']:hover,
.todo-dark input[type='text']:focus,
.todo-light input[type='text']:hover,
.todo-light input[type='text']:focus {
    width: 75%;
    transform: scale(1.1);
}

.todo-dark input[type='text']:hover,
.todo-dark input[type='text']:focus {
    background-color: rgb(49, 49, 49);
}

.todo-light input[type='text']:hover,
.todo-light input[type='text']:focus {
    background-color: rgb(218, 218, 218);
}

.todo-dark hr,
.todo-light hr {
    width: 100%;
    margin: 30px 0 20px 0;
    border-radius: 8px;
}

.todo-dark hr {
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
}

.todo-light hr {
    border: 1px solid rgb(31, 31, 31);
    background-color: rgb(31, 31, 31);
}

.empty-tasks-dark,
.empty-tasks-light {
    font: bold 14pt 'Roboto', sans-serif;
    cursor: pointer;
    transition: all ease 0.4s;
}

.empty-tasks-dark {
    color: #bbbbbb;
}

.empty-tasks-light {
    color: #1f1f1f;
}

.empty-tasks-dark:hover,
.empty-tasks-light:hover {
    transform: scale(1.1);
}

.empty-tasks-dark:hover {
    color: #e0e0e0;
}

.empty-tasks-light:hover {
    color: #1f1f1f;
}

.task-list-dark,
.task-list-light {
    padding: 1px 0 1px 0;
    width: 100%;
    border-radius: 5px;
}

.task-list-dark h1,
.task-list-light h1 {
    font: bold 20pt 'Roboto', sans-serif;
}

.task-list-dark h1 {
    color: white;
}

.task-list-dark table,
.task-list-light table {
    width: 90%;
    border-collapse: collapse;
    font: normal 12pt 'Roboto', sans-serif;
    text-align: left;
    border-radius: 5px;
    transition: all ease 0.5s;
}

.task-list-dark table {
    background-color: rgb(27, 27, 27);
    color: #bbbbbb;
}

.task-list-light table {
    background-color: rgb(228, 228, 228);
    color: #1f1f1f;
}

.task-list-dark table tr td,
.task-list-light table tr td {
    padding: 12px;
    width: 100%;
}

.task-list-dark table tr:nth-child(even) {
    background-color: rgb(35, 35, 35);
}

.task-list-light table tr:nth-child(even) {
    background-color: rgb(222, 222, 222);
}

.task-list-dark table tr td p,
.task-list-light table tr td p{
    width: 500px;
    white-space: pre-line;
    overflow: hidden;
    word-wrap: break-word;
}

.task-list-dark svg,
.task-list-light svg {
    padding: 7px;
    border-radius: 50%;
    margin-left: -15px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.task-list-dark svg {
    color: rgb(184, 184, 184);
}

.task-list-light svg {
    color: rgb(25, 25, 25);
}

.task-list-dark svg:hover,
.header-dark svg:hover {
    background-color: rgb(42, 42, 42);
    box-shadow: 0 0 4px 2px rgb(42, 42, 42);
}

.task-list-light svg:hover,
.header-light svg:hover {
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 4px 2px rgb(185, 185, 185);
}

@media only screen and (max-width: 800px) {
    .todo-dark input[type='text'],
    .todo-light input[type='text'] {
        font-size: 10pt;
        width: 50%;
    }

    .todo-dark input[type='text']:hover,
    .todo-dark input[type='text']:focus,
    .todo-light input[type='text']:hover,
    .todo-light input[type='text']:focus {
        width: 80%;
    }

    .empty-tasks-dark,
    .empty-tasks-light {
        font-size: 11.5pt;
    }

    .todo-dark hr,
    .todo-light hr {
        width: 95%;
    }

    .task-list-dark,
    .task-list-light {
        width: 90%;
    }

    .task-list-dark h1,
    .task-list-light h1 {
        font-size: 18pt;
    }

    .task-list-dark table,
    .task-list-light table {
        /* margin-right: 10px; */
        width: 80%;
    }

    .task-list-dark table tr td p,
    .task-list-light table tr td p {
        font-size: 10pt;
        width: 32vh;
    }

    .task-list-dark svg,
    .task-list-light svg {
        width: 16px
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .todo-dark hr,
    .todo-light hr {
        width: 100%;
    }

    .task-list-dark table,
    .task-list-light table {
        width: 90%;
    }

    .task-list-dark table tr td p,
    .task-list-light table tr td p {
        font-size: 10pt;
        width: 65vh;
    }
}