.header-dark,
.header-light {
    margin: 15px 0 50px 0;
}

.header-dark svg,
.header-light svg {
    cursor: pointer;
    border-radius: 50%;
    padding: 7px;
    transition: all ease 0.4s;
}

.header-dark svg {
    color: rgb(184, 184, 184);
}