@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.footer-dark,
.footer-light {
    margin-top: 30px;
    font: normal 12pt 'Roboto', sans-serif;
    transition: all ease 0.4s;
}

.footer-dark {
    color: white;
}

.footer-dark a,
.footer-light a {
    text-decoration: none;
    font-weight: bold;
    transition: all ease 0.4s;
}

.footer-dark a {
    color: rgb(145, 144, 144);
}

.footer-light a {
    color: rgb(75, 75, 75);
}

.footer-dark a:hover {
    color: rgb(187, 187, 187);
}

.footer-light a:hover {
    color: rgb(112, 112, 112);
}

@media (max-width: 760px) {
    .footer-dark,
    .footer-light {
        font-size: 11pt;
    }
}